.Weather {
    /* background-color: yellow; */
    /* height: 100px; */
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    /* max-width: 300px; */
    /* transform: scale(1.1); */
}

.Weather .container{
    background-color: rgb(0, 160, 253);
    border-radius: 10px;
    display: flex;
  }

  /* canvas {
      height: auto;
  } */

  .Weather .header{
      width: 50%;
      text-align: left;
      padding-left: 15px;
      height: auto;
  }

  .Weather .weather {
      width: 50%;
      text-align: right;
      padding-right: 15px;
  }