.Bubble {
    background-color: white;
    padding: 15px;
    border-radius: 10px;

    -webkit-box-shadow: 0px 1px 15px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 1px 15px -2px rgba(0,0,0,0.75);
    box-shadow: 0px 1px 15px -2px rgba(0,0,0,0.75);
}